html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6, p, div, ul, li {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #214E41;
}

button {
  cursor: pointer;
}

body {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  font-family: "Raleway", sans-serif;
  color: #214E41;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 29px 77px 41px 45px;
}

.header-top__nav {
  display: flex;
  align-items: center;
}

.header-top__nav__link,
.header-top__button,
.header-top__login,
.languages,
.login-person {
  font-weight: 700;
  line-height: 20px;
  margin-right: 50px;
}

.header-top__nav__link:hover {
  color: #43806C;
}

.header-top__nav__box-for-login {
  margin-right: 26px;
  position: relative;
}
.header-top__nav__box-for-login .header-top__login {
  margin: 0;
  border: none;
  background-color: #FFFFFF;
}
.header-top__nav__box-for-login .hidden-login {
  position: absolute;
  top: 30px;
  background-color: #FFFFFF;
  padding: 10px 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  display: none;
}
.header-top__nav__box-for-login .hidden-login .login-person {
  margin: 0;
}
.header-top__nav__box-for-login .hidden-login .login-person:hover {
  color: #43806C;
}
.header-top__nav__box-for-login .show-login {
  display: flex;
}

.header-top__button-link {
  margin: 0 29px 0 19px;
}
.header-top__button-link .header-top__button {
  color: #FFFFFF;
  background-color: #43806C;
  border: none;
  border-radius: 7px;
  padding: 10px 14.53px;
  cursor: pointer;
  margin: 0;
}
.header-top__button-link .header-top__button:hover {
  background-color: #214E41;
}

.languages {
  margin: 0;
}

.header-content {
  background-image: url(/images/header-content-bg.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.header-content__inner {
  display: flex;
  flex-direction: column;
}

.header-content__inner__caption {
  margin: 161px 0 40px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  max-width: 516px;
}

.header-content__text {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.box-for-findOut {
  position: relative;
}

.findOut-choice {
  margin-top: 16px;
  padding: 20px;
  border: none;
  border-radius: 6px 0 0 6px;
  background-color: #FFFFFF;
  white-space: nowrap;
  color: #757575;
  font-size: 14px;
  line-height: 20px;
}
.findOut-choice span {
  margin-left: 15px;
}

.btn-findOut {
  margin-left: -10px;
  padding: 20px 35px;
  background-color: #43806C;
  border: none;
  border-radius: 0 6px 6px 0;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}

.btn-findOut:hover {
  background-color: #214E41;
}

.hidden-findOut {
  position: absolute;
  top: 71px;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  display: none;
}
.hidden-findOut .choice {
  display: block;
  padding: 20px 33.5px 20px 20px;
  color: #222222;
  font-size: 14px;
  line-height: 20px;
}
.hidden-findOut .choice:hover {
  background-color: #AEE0F9;
}

.show-findOut {
  display: flex;
}/*# sourceMappingURL=style.css.map */