html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6, p, div, ul, li {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #214E41;
}

button {
  cursor: pointer;
}

body {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  font-family: "Raleway", sans-serif;
  color: #214E41;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 29px 77px 29px 45px;
}

.header-top__nav {
  display: flex;
  align-items: center;
}

.header-top__nav__link,
.header-top__button,
.header-top__login,
.languages,
.login-person {
  font-weight: 700;
  line-height: 20px;
  margin-right: 50px;
}

.header-top__nav__link:hover {
  color: #43806C;
}

.header-top__nav__box-for-login {
  margin-right: 26px;
  position: relative;
}
.header-top__nav__box-for-login .header-top__login {
  margin: 0;
  border: none;
  background-color: #FFFFFF;
}
.header-top__nav__box-for-login .hidden-login {
  position: absolute;
  top: 30px;
  background-color: #FFFFFF;
  padding: 10px 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  display: none;
}
.header-top__nav__box-for-login .hidden-login .login-person {
  margin: 0;
}
.header-top__nav__box-for-login .hidden-login .login-person:hover {
  color: #43806C;
}
.header-top__nav__box-for-login .show-login {
  display: flex;
}

.header-top__button-link {
  margin: 0 29px 0 19px;
}
.header-top__button-link .header-top__button {
  color: #FFFFFF;
  background-color: #43806C;
  border: none;
  border-radius: 7px;
  padding: 10px 14.53px;
  cursor: pointer;
  margin: 0;
}
.header-top__button-link .header-top__button:hover {
  background-color: #214E41;
}

.languages {
  text-transform: uppercase;
  margin: 0;
}

.header-content {
  background-image: url(/images/header-content-bg.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.header-content__inner {
  display: flex;
  flex-direction: column;
}

.header-content__inner__caption {
  margin: 161px 0 40px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  max-width: 516px;
}

.header-content__text {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.box-for-findOut {
  position: relative;
}

.findOut-choice {
  margin-top: 16px;
  padding: 20px;
  border: none;
  border-radius: 6px 0 0 6px;
  background-color: #FFFFFF;
  white-space: nowrap;
  color: #757575;
  font-size: 14px;
  line-height: 20px;
}
.findOut-choice span {
  margin-left: 15px;
}

.btn-findOut {
  margin-left: -10px;
  padding: 20px 35px;
  background-color: #43806C;
  border: none;
  border-radius: 0 6px 6px 0;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}

.btn-findOut:hover {
  background-color: #214E41;
}

.hidden-findOut {
  position: absolute;
  top: 71px;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  display: none;
}
.hidden-findOut .choice {
  display: block;
  padding: 20px 33.5px 20px 20px;
  color: #222222;
  font-size: 14px;
  line-height: 20px;
  z-index: 3;
}
.hidden-findOut .choice:hover {
  background-color: #AEE0F9;
}

.show-findOut {
  display: flex;
}

.box-2 {
  display: flex;
  gap: 16px;
  background-color: #FFFFFF;
  padding: 50px;
  border-radius: 6px;
  max-width: 1200px;
  position: absolute;
  bottom: -190px;
}

.items {
  display: grid;
  align-items: center;
  grid-template-columns: 20% 80%;
  grid-template-rows: 1fr 1fr;
}

.box-2-img {
  grid-row: 1/3;
}

.box-2-title {
  font-size: 16px;
  line-height: 24px;
}

.box-2-text {
  line-height: 20px;
}

.whyBrella {
  padding: 176px 120px 120px;
}

.whyBrella-inner {
  display: flex;
  gap: 0 60px;
}

.whuBrella-content-1 {
  max-width: 510px;
}

.whyBrella-pre-header {
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.whyBrella-heading {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  margin-bottom: 34px;
}

.whyBrella-text {
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02px;
  color: #757575;
  margin-bottom: 26px;
}

.whyBrella-link,
.playVideo__link,
.for-employers__link {
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.02px;
  border-bottom: 2px solid #214E41;
  padding-bottom: 14px;
  transition: all 0.8s;
}

.whyBrella-link:hover {
  color: #43806C;
  border-bottom: 2px solid #43806C;
  padding-bottom: 5px;
}

.whuBrella-content-2 {
  max-width: 510px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.percent {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 70px;
  line-height: 90px;
  margin-bottom: 51px;
}

.whuBrella-content-2__text,
.whuBrella-content-2__link {
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 0.02px;
}

.whuBrella-content-2__text {
  display: inline-block;
  max-width: 222px;
  z-index: 3;
}

.whuBrella-content-2__link {
  border-bottom: 1px solid #214E41;
}

.whuBrella-content-2__link:hover {
  color: #43806C;
  border-bottom: 1px solid #43806C;
}

.diagram {
  position: absolute;
  left: 0px;
  bottom: 0px;
}

.brellaBrings-inner {
  display: flex;
}

.brellaBrings__content-1 {
  width: 50%;
  padding: 120px 150px 120px 105px;
  background-color: #E3EEED;
}
.brellaBrings__content-1 .brellaBrings__content-1__pre-header {
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.brellaBrings__content-1 .brellaBrings__content-1__link {
  display: block;
  max-width: 600px;
  font-family: "Roboto", serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 42px;
  color: #43806C;
  margin-bottom: 18px;
  transition: all 0.5s;
}
.brellaBrings__content-1 .brellaBrings__content-1__link img {
  margin-left: 20px;
}
.brellaBrings__content-1 .brellaBrings__content-1__link:hover {
  padding-left: 10px;
}
.brellaBrings__content-1 .brellaBrings__content-1__link--first-child {
  font-weight: 700;
  color: #214E41;
}

.brellaBrings__content-2 {
  width: 50%;
  padding: 160px 120px 208px 115px;
  background-color: #214E41;
  color: #FFFFFF;
}
.brellaBrings__content-2 .brellaBrings__content-2__text-1,
.brellaBrings__content-2 .brellaBrings__content-2__text-2 {
  display: block;
  max-width: 500px;
  font-size: 20px;
  line-height: 34px;
  letter-spacing: 0.02px;
}
.brellaBrings__content-2 .brellaBrings__content-2__text-1 {
  margin-bottom: 34px;
}

.onePlan {
  padding: 120px 0;
}

.onePlan-inner {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.onePlan__content-1 {
  display: flex;
}

.onePlan__content-1__pre-header,
.playVideo__pre-header,
.for-employers__pre-header {
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.05px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.onePlan__content-1__heading,
.playVideo__heading,
.for-employers__heading {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  margin-bottom: 34px;
}

.onePlan__content-1__text,
.playVideo__text,
.for-employers__text {
  line-height: 30px;
  letter-spacing: 0.02px;
  color: #757575;
  font-size: 18px;
}

.onePlan__content-2 {
  display: flex;
  gap: 50px;
}
.onePlan__content-2 .number-item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #F0A446;
  margin-bottom: 13px;
}
.onePlan__content-2 .onePlan__content-2__text {
  font-weight: 700;
  font-size: 13px;
  line-height: 22px;
  letter-spacing: 0.02px;
}

.playVideo-inner {
  display: flex;
}

.playVideo__heading {
  max-width: 483px;
}

.playVideo-img {
  padding: 0 103px 0 115px;
}

.playVideo__text-box {
  padding: 68px 21px 120px 120px;
}

.playVideo__text,
.for-employers__text {
  margin-bottom: 26px;
}

.playVideo__link:hover {
  color: #43806C;
  border-bottom: 2px solid #43806C;
  padding-bottom: 5px;
}

.for-employers {
  background-image: url(../images/for-employers-bg.jpg);
  height: 652px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.for-employers__heading {
  max-width: 391px;
}

.for-employers__text {
  max-width: 491px;
  margin-right: 502px;
}

.for-employers__link:hover {
  color: #43806C;
  border-bottom: 2px solid #43806C;
  padding-bottom: 5px;
}/*# sourceMappingURL=style.css.map */