// *** FONT FAMILIES***
$ral:'Raleway', sans-serif;
$rob: 'Roboto', sans-serif;



// *** COLORS ***
$darkGreen: #214E41;
$white: #FFFFFF;
$green: #43806C;
$orange: #F0A446;
$gray: #757575;
$black: #222222;
$lightBlue: #AEE0F9;
$sky: #E3EEED;
